/* TEST WITH AND WITHOUT PREFLIGHT */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
	display: none;
}

/* Track */
::-webkit-scrollbar-track {
	display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
	display: none;
}
